

.listItems{
    width: 90%;
    background-color: #F5F6F9;
    color: #454C59;
    font-family: 'Readex Pro', sans-serif;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.incomeExpenseCard{
    width: 30%;
}

.income{
    background-color: #0ec57625;
}

.expense{
    background-color:  #ea4c8934;
}

@media only screen and (max-width: 880px) {
    .incomeExpenseCard{
        width: 100%;
    }
  }